.App {
  font-family: 'Avenir', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.language-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

.language-button-section button {
  margin: 0 0.25em;
}

.footer {
  margin-top: 2em;
}